AndroidStudio/apps/TutorialHTML/.gradle
AndroidStudio/apps/TutorialHTML/local.properties
AndroidStudio/apps/TutorialHTML/.idea/workspace.xml
AndroidStudio/apps/TutorialHTML/.idea/libraries
AndroidStudio/apps/TutorialHTML/.DS_Store
AndroidStudio/apps/TutorialHTML/build
AndroidStudio/apps/TutorialHTML/captures
AndroidStudio/apps/TutorialHTML/.idea